* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center; */
    overflow: hidden;
    background-color: rgb(169, 167, 167);
    font-family: 'Courier New', Courier, monospace;

}

/* -------clases generales-------*/
.form-position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden {
    opacity: 0;
    pointer-events: none;
}


h1 {
    max-width: 400px;
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    text-align: center; 
    font-weight: 400;
    font-size: 2.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

span {
    color: red;
}

.form1 {
    width: 50vw;
    max-width: 450px;
    /* margin: auto;
    height: auto;
    display: flex; */
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%,-50%); */
    /* position: absolute; */
    justify-content: center;
    background-color: rgb(244, 237, 228);
    box-shadow: 0px 4px 13px black;
}

.form1 fieldset {
    width: 100%;
    padding: .5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div,
.div {
    display: flex;
    /* flex-direction: column; */
    /* gap: 10px; */
    /* margin-top: 10px; */
}

label {
    /* width: 70px; */
    flex: 1;
    font-weight: bold;
    font-size: 1.2rem;
}

input {
    flex: 2;
    padding: .2rem;
}

.radio,
div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}


.radio div {
    flex: 2;
}

.radio label {
    flex: 3;
}

.btn-siguiente {
    width: 50px;
    margin: auto;
    margin-top: .5rem;
}

/* mediaquery */
@media (max-width:710px) {
    .form1 {
        width: 80%;
        max-width: 420px;
        margin: auto;
        display: flex;
        gap: 10px;

    }

    .div,
    div {
        display: flex;
        /* flex-wrap: wrap; */
        justify-content: center;
        /* align-items: center; */
        margin-top: 10px;
    }

    .div label {
        flex: 1.5;
    }

    .div input {
        flex: 3;
    }

    .radio,
    .gen {
        display: flex;
        flex-direction: row;
        /* flex-wrap: wrap; */
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    .radio .nro {
        width: 100px;
        background-color: rgb(204, 171, 238);
    }
}

@media (max-width:450px) {
    h1 {
        top: 15px;
        width: 100%;

    }

    .form1 {
        min-width: 350px;
        margin: auto;
        /* height: auto; */
        display: flex;
        justify-content: center;
        padding: 1rem;
        /* margin-top: 0.5rem; */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }

    .div,
    div {
        display: flex;
        flex-direction: column;
        gap: 0px;
        margin-top: 0;
        justify-content: center;
    }

    .div label {
        width: 100%;
        ;
    }

    .div input {
        width: 70%;
        margin-left: auto;
    }

    .nro {
        height: 30px;
    }
}